body {
    display: flex;
    flex-direction: column;
    font-family:  "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-size: 12px;
    
}

.main-header {
    background-color: #1F2937;
    flex-grow: 1;
}

.main-header > div {
    
    max-width: 900px;
    margin: auto;
}

.header {
    display: flex;
    justify-content: center;
    color: #F9FAF8;
    align-content: center;
    max-height: 72px;
    padding-top: 12px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
    flex-grow: 1;
}

.link {
    padding-left: 16px;
}

.main {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    color: #F9FAF8;
    padding-top: 64px;
    padding-bottom: 64px;
}

.main-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 425px;
}

.title {
    text-align: center;
    padding-top: 20px;
    font-size: 24px;
    font-weight: 900;

}

.main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.main-image img { 
    max-width: 425px;
    max-height: auto;
} 


.info-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
    padding-bottom: 20px;
}

.icon, .icon img {
    text-align: center;
    font-size: 12px;
    max-width: 125px;
}

.btn {
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 0.3em 1em;
    border: 2px solid #ff0072;
    border-radius: 2px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.1);
    color: #ff0072;
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1;
}

.btn:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #ff0072;
    z-index: -1;
}

.btn:hover, .btn:focus {
    color: white;
}

.btn:hover:before, .btn:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}

.btn:active {
    transform: scale(0.9);
}

.quote-container {
    background-color: #E5E7EB;
    padding: 48px 0 48px 0;
}

.quote {
    font-size: 2rem;
    font-style: italic;
    color: #1F2937;
    margin: auto;
    max-width: 700px;
}

.cite {
    font-weight: bold;
    text-align: right;
    max-width: 600px;
    margin: auto;
}

.signup-container {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 6px;  
    min-width: 900px;
    margin: 36px auto;
    padding: 30px 32px;
} 

.call {
    font-weight: 900;
    font-size: 18px;
}

.footer {
    height: 72px;
    background-color: #1F2937;
    color: white;
    text-align: center;
    align-content: center;
}